__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/
.vscode/
*.egg-info/
data/public_dev/
data/outputs/
data/external_unseen/
data/evaluation/
data/temp/
data/train/
node_modules/
workbench/frontend/dist/
workbench/.cache/
dpmlm_artefacts/
*:Zone.Identifier
